extends base

block content
    .user-profile
        h2
            | #{loginUser.name}
        span.profile-info
            | Posts: #{loginUser.postCount} 
            | Following: #{loginUser.following.length} 
            | Followers: #{loginUser.followers.length}

    .user-posts
        h3.posts-heading Posts
        each post in user.posts.reverse()
            .post(data-post-id=post._id)
                //- Delete button
                button.delete-button(type='button' class='delete-btn') Delete
                //- Post content
                if post.content
                    .post-content= post.content
                
                //- Post photo
                if post.photo
                    .post-photo
                        img(src=`/img/users/${post.photo}`, alt="post-photo")
                
                //- Post caption
                if post.caption 
                    .post-caption= post.caption
                
                //- Post actions
                .post-actions
                    //- Like button with conditional class
                    button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                    
                    //- Comment button with conditional class
                    button.comment-btn(type='button') Comment &#x1F4AC; : #{post.comments}

    //- Form for updating user information
    form.form-updateUser
        div.form-group
            label(for='name') Name:
            input(type='text', name='name', id='name', value=user.name, required)
        div.form-group
            label(for='username') Username:
            input(type='text', name='username', id='username', value=user.username, required)
        div.form-group.form__photo-upload
            label(for='displayPhoto') Display Picture:
            //- Added CSS classes for circular display photo
            .form__user-photo-container
                img.form__user-photo(src=`/img/users/${user.displayPhoto}`, alt="user photo")
            input(type='file', accept='image/*' name='displayPhoto', id='displayPhoto')
        button.btn-submit Save Changes

    //- Link for Password and Security
    a(href='/password-and-security') Password and Security
