extends base

block content
    .user-profile
        h2
            | #{loginUser.name}
        span.profile-info
            | Posts: #{loginUser.postCount} 
            | Following: #{loginUser.following.length} 
            | Followers: #{loginUser.followers.length}

    //- Form for creating a new post
    form.form-createPost
        div.form-group
            label(for='photo') Photo:
            input(type='file', name='photo', id='photo', accept='image/*')
        div.form-group
            label(for='caption') Caption:
            input(type='text', name='caption', id='caption')
        div.form-group
            label(for='content') Content:
            input(type='text', name='content', id='content')
        button.btn-submit Post

    h3.posts-heading Posts
        each post in loginUser.posts.reverse()
            .post(data-post-id=post._id)
                //- Post content
                if post.content
                    .post-content= post.content
                
                //- Post photo
                if post.photo
                    .post-photo
                        img(src=`/img/users/${post.photo}`, alt="post-photo")
                
                //- Post caption
                if post.caption 
                    .post-caption= post.caption
                
                //- Post actions
                .post-actions
                    //- Like button with conditional class
                    button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                    
                    //- Comment button with conditional class
                    button.comment-btn(type='button') Comment &#x1F4AC; : #{post.comments}
