//- extends base

//- block content 
//-     h3 feed

//-     .user-posts
//-         each post in posts
//-             .post(data-post-id=post._id)
//-                 //- User display photo and username container
//-                 .user-info-container
//-                     //- User display photo
//-                     img.user-display-photo.small-profile(src=`/img/users/${post.author.displayPhoto}`, alt="user-display-photo")
                    
//-                     //- User name
//-                     p.user-name= post.author.username
                
//-                 //- Post content
//-                 if post.content
//-                     .post-content= post.content
                
//-                 //- Post photo
//-                 if post.photo
//-                     .post-photo
//-                         img(src=`/img/users/${post.photo}`, alt="post-photo")
                
//-                 //- Post caption
//-                 if post.caption 
//-                     .post-caption= post.caption
                
//-                 //- Post actions
//-                 .post-actions
//-                     //- Like button with conditional class
//-                     button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                    
//-                     //- Comment button with conditional class
//-                     button.comment-btn(type='button') Comment &#x1F4AC; : #{post.comments}

//- extends base

//- block content 
//-     h3.feed Feed

//-     .user-posts
//-         each post in posts
//-             .post(data-post-id=post._id)
//-                 //- User display photo and username container
//-                 .user-info-container
//-                     //- User display photo
//-                     img.user-display-photo.small-profile(src=`/img/users/${post.author.displayPhoto}`, alt="user-display-photo")
                    
//-                     //- User name
//-                     p.user-name= post.author.username
                
//-                 //- Post content
//-                 if post.content
//-                     .post-content= post.content
                
//-                 //- Post photo
//-                 if post.photo
//-                     .post-photo
//-                         img(src=`/img/users/${post.photo}`, alt="post-photo")
                
//-                 //- Post caption
//-                 if post.caption 
//-                     .post-caption= post.caption
                
//-                 //- Post actions
//-                 .post-actions
//-                     //- Like button with conditional class
//-                     button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                    
//-                     //- Comment button with conditional class
//-                     button.comment-btn(type='button' onclick='toggleCommentSection(this)') Comment &#x1F4AC; : #{post.comments}
                    
//-                     //- Comment section
//-                     .comment-section(style='display: none;')
//-                         // Your comment section content goes here

extends base

block content 
    h3.feed Feed

    .user-posts
        each post in posts
            .post(data-post-id=post._id)
                .user-info-container
                    //- Wrap user-name with anchor tag
                    a(href=`/user/${post.author.username}`) 
                        // Use flexbox to align items horizontally
                        .user-info
                            img.user-display-photo.small-profile(src=`/img/users/${post.author.displayPhoto}`, alt="user-display-photo")
                            p.user-name= post.author.username
                
                .post-content
                    if post.content
                        p= post.content
                    if post.photo
                        img(src=`/img/users/${post.photo}`, alt="post-photo")
                    if post.caption 
                        p= post.caption
                
                .post-actions
                    button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                    button.comment-btn(type='button', data-post-id=post._id) Comment &#x1F4AC; : #{post.comments}

                //- Comment section
                .comment-section.hidden(data-post-id=post._id)
                    //- Add a form to submit comments
                    form.comment-form
                        input(type='text', placeholder='Add a comment...', name='comment-text')
                        button.comment-submit-btn(type='submit') Post
