extends base

block content
  .user-list
    each user in users
      .user-card
        .user-link
          a(href=`/user/${user.username}`) #{user.name}
          .form__user-photo-container
              img.form__user-photo(src=`/img/users/${user.displayPhoto}`, alt="user photo")
        .user-info
          p.user-followers Followers: #{user.followers.length}
          p.user-following Following: #{user.following.length}
          p.user-post-count Posts: #{user.postCount}
