extends base

block content
    .user-profile
        h2
            | #{user.name}
        .form__user-photo-container
            img.form__user-photo(src=`/img/users/${user.displayPhoto}`, alt="user photo")
        span.profile-info
            | Posts: #{user.postCount} 
            | Following: #{user.following.length} 
            | Followers: #{user.followers.length}
            if isFollowing
                button.unfollow-btn(type="button", class="follow", id="unfollow", value=user._id) unfollow

    //-Container for user posts
    if isFollowing
        .user-posts
            h3.posts-heading Posts
            each post in user.posts.reverse()
                .post(data-post-id=post._id)
                    //- Post content
                    if post.content
                        .post-content= post.content
                    
                    //- Post photo
                    if post.photo
                        .post-photo
                            img(src=`/img/users/${post.photo}`, alt="post-photo")
                    
                    //- Post caption
                    if post.caption 
                        .post-caption= post.caption
                    
                    //- Post actions
                    .post-actions
                        button.like-btn(type='button', class=post.liked ? 'liked' : '') Like &#x2665; : #{post.likes}
                        button.comment-btn(type='button', data-post-id=post._id) Comment &#x1F4AC; : #{post.comments}

                    //- Comment section
                    .comment-section.hidden(data-post-id=post._id)
                        //- Add a form to submit comments
                        form.comment-form
                            input(type='text', placeholder='Add a comment...', name='comment-text')
                            button.comment-submit-btn(type='submit') Post
    else 
        p You are not following #{user.username}
        //- Follow button
        if isRequested
            button.deleteRequestbtn(type="button", class="follow", id="delReq", value=user._id) requested
        else
            button.follow-btn(type="button", class="follow", id="follow", value=user._id) follow
