extends base

block content
    .user-profile
        h2
            | #{user.name}
        span.profile-info
            | Posts: #{user.postCount} 
            | Following: #{user.following.length} 
            | Followers: #{user.followers.length}

    .user-posts
        h3 posts
        each post in user.posts
            .post(data-post-id=post._id)
                .post-content
                    p= post.content
                .post-info
                    span
                        button.like-btn(type='button') &#x2665; : #{post.likes}    
                        button.comment-btn(type='button') &#x1F4AC; : #{post.comments}
